extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1= projectName

        p.lead.text-light
          | #{description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies

        ul
          each technology in technologies
            li= technology

        a.button.expanded(href=`${liveLink}` target= '_blank') Live Demo
        a.button.expanded(href=`${githubLink}` target= '_blank') GitHub Repo
    
    each imageUrl in imageUrls
      img.image(src=`${imageUrls}`)
    //- img.image(src='https://placehold.it/1200x550')
    //- img.image(src='https://placehold.it/1200x550')